@import '../../../styles/colors.scss';
@import '../../../styles/metrics.scss';
@import '../../../styles/mixins.scss';

:host {
  overflow-y: auto;
}

#bg-pic {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;

  background-image: url('../../../assets/background-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bg-color-fltr {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;

  background-color: $black;
  opacity: 0.2;
}

#content {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  padding: 2em;
}

#action {
  text-align: center;
}

a {
  display: block;
  margin-top: 2em;

  color: white;

  text-align: center;
}

button {
  display: inline-block;
  margin: 0.5em;
  padding: 1.5em 3em;

  background-color: rgba(0,0,0,0);
  color: #FFFFFF;
  @include border-radius-1(5px);
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;

  font-weight: bold;
  font-size: 1em;

  &:hover {
    background-color: #FFFFFF;
    color: $color-1;
  }

  &[class*="teacher"] {
    background-color: $white;
    border-color: $white;
    color: $color-3;
  }

  &[class*="teacher"]:hover {
    background-color: $color-3;
    color: $white;
  }

  &[class*="student"] {
    background-color: $white;
    border-color: $white;
    color: $color-1;
  }

  &[class*="student"]:hover {
    background-color: $color-1;
    color: $white;
  }
}

h1 {
  text-align: center;
  color: white;
  margin: 4em 0;
  text-shadow: 0 0 5px $grey;
  font-style: italic;
}

h3 {
  text-align: center;
  color: white;
}

form {

  > div {
    margin: 0 auto;
    margin-bottom: 1em;

    label {
      display: block;
      width: 100%;
      margin-bottom: 0.25em;
      color: white;
    }

    input,
    select {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 1em;

      background-color: $white;
      @include border-radius-1(5px);
      border: 1px solid $grey;
    }

    option {
      padding: 1em;
    }
  }
}

@media screen and (max-width: $tablet-width) {

  #content {
    width: 100%;
    margin-top: 0;
  }

  button {
    width: 100%;
  }
}
