@import "../../../styles/colors.scss";
@import "../../../styles/metrics.scss";
@import "../../../styles/mixins.scss";

/*******************************/
/*  Default HTML tags
/*******************************/

section {
  position: relative;
  padding: 4em 0;
}

h1 {
  font-size: 3em;
  text-shadow: 3px 3px 5px $grey;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
}

a,
button {
  box-sizing: border-box;
  padding: 1.5em 6em;

  background-color: rgba(0,0,0,0);
  @include border-radius-1(5px);
  border-width: 2px;
  border-style: solid;
  cursor: pointer;

  font-weight: bold;
  font-size: 1em;
  text-decoration: none;

  &[class*="prim"] {
    border-color: $white;
    color: $white;
  }

  &:hover {
    background-color: $white;
    color: $color-1;
  }
}

img {
  max-height: 250px;
  max-width: 250px;

  &[class*='square'] {
    height: 250px;
    width: 250px;
  }
}

/*******************************/
/*  Abstract classes
/*******************************/

.background-abst {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-abst {
  @include display-flex();
  @include flex-flow-column();
  box-sizing: border-box;
  padding: 5px 0;
}

/*******************************/
/*  Building classes
/*******************************/

.center-content {
  @include justify-content-center();
  @include align-items-center();
}

.margin {
  margin: 1em;
}

.col-25 {
  @extend .col-abst;
  width: 25%;
}

.col-33 {
  @extend .col-abst;
  width: 33%;
}

.col-50 {
  @extend .col-abst;
  width: 50%;
}

.col-66 {
  @extend .col-abst;
  width: 66%;
}

.col-75 {
  @extend .col-abst;
  width: 75%;
}

.col-100 {
  @extend .col-abst;
  width: 100%;
}

.center-text {
  text-align: center;
}

/*******************************/
/*  Building div
/*******************************/

div[class*='content'] {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px;
  width: 60%;
}

div[class*='row'] {
  @include display-flex();
}

div[class*='row-reverse'] {
  @include display-flex-row-reverse();
}

div[class*='column-centered'] {
  @include display-flex();
  @include flex-flow-column();
  @include align-items-center();
}

/*******************************/
/*  Sections
/*******************************/

#banner {
  box-sizing: border-box;
  padding: 30vh 0;

  .background {
    @extend .background-abst;
    background-image: url('../../../assets/background-2.jpg');
    @include filter-contrast(50%);
  }
}

#slogan {
  position: relative;

  .bg-ptrn {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../../../assets/pattern.jpg');
    @include filter-blur(1px);
    opacity: 0.1;
  }

  .bg-clr {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include linear-gradient(-50deg, $color-1-l, $color-1);
  }
}

#accessibility {
  .background {
    @extend .background-abst;
    background-image: url('../../../assets/background-3.jpg');
    @include filter-brightness(40%);
  }
}

#statistics {
  .background {
    @extend .background-abst;
    background-image: url('../../../assets/background-4.jpg');
    @include filter-brightness(25%);
  }
}

#volunteer {
  position: relative;

  .bg-ptrn {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../../../assets/pattern.jpg');
    @include filter-blur(1px);
    opacity: 0.1;
  }

  .bg-clr {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include linear-gradient(-50deg, $color-3-l, $color-3);
  }
}

@media screen and (max-width: $tablet-width) {
  section,
  div[class*='content'],
  #banner,
  .col-abst {
    padding-left: 0;
    padding-right: 0;
  }

  div[class*='content'] {
    width: 100%;
    margin: auto;
  }

  div[class*='row'],
  div[class*='column-centered'],
  .col-abst {
    @include flex-flow-column();
    @include align-items-center();
  }
}

/************************** FORM ****************************/

form button {
  box-sizing: border-box;
  margin-top: 1em;
  padding: 1.5em 6em;
  width: 100%;

  background-color: rgba(0,0,0,0);
  color: $color-3;
  @include border-radius-1(5px);
  border-color: $color-3;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;

  font-weight: bold;
  font-size: 1em;

  &:hover {
    background-color: $color-3;
    color: $white;
  }

  &[disabled],
  &[disabled]:hover {
    background-color: rgba(0,0,0,0);
    color: $grey-d;
    border-color: $grey-d;

    opacity: 0.5;
  }
}

form {
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em 0;
  width: 100%;

  @include border-radius-1(10px);

  > div {
    margin: 0 auto;
    margin-bottom: 1em;
    width: 80%;

    label {
      display: block;
      margin-bottom: 0.25em;
      width: 100%;

      color: $grey-d;
    }

    input,
    textarea {
      display: block;
      box-sizing: border-box;
      padding: 1em 0;
      padding-left: 1em;
      width: 100%;

      @include border-radius-1(5px);
      border: 1px solid $grey;
      border-left: 5px solid $grey;
    }

    textarea {
      min-height: 3em;

      resize: vertical;
    }
  }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $green !important;
}

.ng-invalid:not(form)  {
  border-left: 5px solid $red !important;
}

.errors {
  box-sizing: border-box;
  padding: 1em 0;
  width: 100%;

  background-color: $red;
  color: $white;
  @include border-radius-1(5px);

  text-indent: 1em;
}
